.form {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto 0 auto;
}

.form > label {
    margin: 5px 0 5px 0;
}

.form > label > input {
    margin-left: 5px;

}

.form > button {
    width: 150px;
    /* margin: 20px auto 0 auto; */
}

.header {
    font-size: 3.2em;
}